.res-item-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  border-bottom: 0.5px solid grey;
  margin-bottom: 16px;
  padding: 16px;
}
.res-item-img-container {
  z-index: 0;
}
.add-button {
  position: absolute;
  width: 120px;
  color: green;
  bottom: -13px;
  left: 19px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid grey;
  height: 40px;
}
